/* fonts */
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

/* No margin to body */
body {
	margin:0;
}

/* Navbar links */
nav > ul > li > a {
	display:block;
	color:#fff;
	padding:8px 16px;
	text-decoration:none;
	border-bottom:1px solid #bbb;
	text-align:right;
	text-transform:uppercase;
	font-family:Caveat Brush;
	font-size:24px;
}

/* Vertical Navbar */
nav > ul {
	list-style-type:none;
	padding:0;
	margin:0;
	width:22%;
	background-color:#444;
	border:1px solid #555;
	position:fixed;
	/* overflow:auto; */
	float:left;
	height:100%;
}

/* Active Page */
.active {
	background-color:#4CAF50 !important;
	color:white !important;
}

/* Navbar links on hover */
nav ul li a:hover {
	background-color:#000;
	color:white;
}

/* Heading of page with sticky position */
main > h1{
	margin-left:2px;
	padding-bottom:1px;
	height:100%;
	background:#eee;
	font-family:Love Ya Like A Sister;
	text-align:center;
	position:sticky;
	top:0;
	
}

/* Main content moved to side by giving margin to avoid collapse with Navbar */
main {
	margin-left:22%;
}

/* Cover image */
.cover-image {
	height:250px;
	width:100%;
	margin:0;	
}

/* Giving margin to main content */
main section {
	margin-left:2px;
}

/* Create three equal columns that floats next to each other for index.html */
.column1 {
	float: left;
	width: 65%;
	padding: 10px;
}

/* Clear floats after the columns for index.html */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Create three equal columns that floats next to each other for index.html */
.column2 {
	float: right;
	width: 25%;
	padding: 10px;
	background-color:yellow;
	height:1540px;
}

/* Clear floats after the columns for index.html */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* For main content in mHistory.html  */
.mHist {
	border:1px solid black;	
	padding:10px;
	margin:10px;
}

/* For Website name on Cover image */
.container {
	font-size:40px;
	position:relative;
	text-align:center;
	color:white;
}

/* For centering website name on cover image */
.centered {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

/* Styling enlish songs card container for allowing sticky position */
.ecb {
	overflow: auto;
}

/* Styling hindi songs card container for allowing sticky position */
.hcb {
	overflow: auto;
}

/* English songs cards */
.esongs {
    margin: 8px;
    border: 1px solid gray;
    float: left;
	width: 240px;
	height: 280px;
}

/* Hovering effect on english song cards */
.esongs:hover {
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Adjusting image in english song cards */
.esongs img {
	width: 100%;
	height: 70%;
}

.song audio{
	display:block;
	width:238px;
	height:50px;
	padding: 17px 1px 17px 1px;
}

.hsongs {
    margin: 8px;
    border: 1px solid gray;
    float: left;
	width: 240px;
	height: 280px;
}

.hsongs:hover {
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.hsongs img {
	width: 100%;
	height: 70%;
}

/* For main content in lyrics.html  */
.lyrics {
	border:1px solid black;	
	padding:10px;
	margin:10px;
}

.el {
	border: 1px solid purple;
	width:75%;
	height: 400px;
	padding:10px;
	margin:10px;
	overflow:scroll;
	overflow-x: hidden;
}
